{
    "serverHost": "127.0.0.1",
    "serverPort": 8080,
    "trustProxy": false,
    "corsOrigins": [
        "https://example.com"
    ],
    "rateLimiter": {
        "unitMinutes": 15,
        "maxRate": 10,
        "allowlist": [
            "127.0.0.1"
        ]
    },
    "header": {
        "Server": "hwahyang.space v2",
        "x-powered-by": "hwahyang.space v2"
    },
    "database": {
        "host": "127.0.0.1",
        "user": "USERNAME",
        "password": "PASSWORD",
        "database": "DATABASE",
        "connectionLimit": 10,
        "queueLimit": 0,
        "keepAliveInitialDelay": 10000
    },
    "security": {
        "passwordIteration": 10000,
        "accessTokenSecret": "SECRET",
        "accessTokenExpires": "3h",
        "refreshTokenSecret": "SECRET",
        "refreshTokenExpires": "3d"
    },
    "log": {
        "workerInterval": 5000,
        "logFileFormat": "Log_YYYY_MM_DD"
    },
    "swagger": {
        "enabled": false,
        "title":"hspace_v2",
        "description":"hwahyang.space v2 API",
        "servers": [
            {
                "url": "http://localhost:8080",
                "description": "Local Test"
            }
        ]
    }
}